<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
  <title>Weather</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>	
  <%= javascript_include_tag 'angular', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header ng-controller="HeaderController as header">
      <h1> Welcome, { header.current_user.email }}</h1>
  </header>

<h2>BLOOP</h2>



<div ng-controller="HeaderController as header">
	<h2>Welcome {{header.current_user.email}}</h2>
</div>
	
	<div ng-controller="PostController as postCtrl">

		<form ng-submit="postCtrl.createPost()">
			<input type="text" ng-model="postCtrl.date" placeholder="Weather for which date?">
			<input type="text" ng-model="postCtrl.body" placeholder="Write your post">
		<input type="submit">
		</form>


		<ul ng-repeat="post in postCtrl">
			<li>{{post.body}}</li>
		</ul>
	</div>
</div>

 <%= yield %>

</body>
</html>
